/* .parent .child {
    color: red;
} */

/* .parent {
    .child {
        color: red;
    }
} */


/* .parent {
    &.child {
        color: red;
    }
} */

/* .parent.active {
    color: red;
} */

/* .parent {
    &.active {
        color: red;
    }
}


.parent.active {
    background-color: blue;
}

.parent {
    background-color: rgb(80, 2, 2);
} */

.one {
    &.two {
        
    }
}